<h1>Articles by tag</h1>

<ul>
	<% @tag.each do |t|%>
		<li>
			<%= link_to t.name, tag_path(t) %>
			<%= link_to "delete", tag_path(t), method: :delete, data: {confirm: "Are you sure you want to delete this tag? This can not be undone"} %>
		</li>
	<%end%>
</ul>
<br/>
<br/>
<p><%= link_to "<<Back to Article List", articles_path%></p>